#aboutCon1 {
	padding: 0 !important;
}
li.nav-item {
	text-align: center;
}
.about {
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.about img {
	margin-top: -400px;
}
.about h2 {
	position: absolute;
	bottom: 100px;
	font-size: 50px;
	color: white;
	letter-spacing: 3px;
}
#aboutCon1 .row {
	padding: 20px;
	margin-left: 0;
	margin-right: 0;
}
.col-md-7 h3 {
	font-size: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.col-md-7 p {
	font-weight: 700;
	font-size: 20px;
	padding: 20px;
	padding-top: 0;
}
.col-md-5 img {
	margin-top: 80px;
	width: 400px;
}
img.secondAboutImg {
	margin-top: 0px;
}
.services h3 {
	font-size: 30px;
	margin-top: 50px;
	text-transform: uppercase;
}
.services p {
	padding-left: 50px;
	padding-right: 50px;
}
.toTop svg {
	border: 1px solid #ff8c00;
	width: 40px;
	border-radius: 5px;
	background-color: #ff8c00;
	fill: white;
	position: fixed;
	right: 20px;
	bottom: 80px;
}
.about.active {
	border-bottom: 1px solid #fff;
	color: #fff !important;
}
.contact.active {
	border-bottom: 1px solid #fff;
	color: #fff !important;
	text-align: center;
}
#contactImgDiv img {
	margin-top: -200px;
}
.contact1 {
	width: 500px;
	border: 1px solid #ff8c00;
	background-color: #ff8c00;
	color: #fff;
}
.contact1 svg {
	width: 50px;
	border: 1px solid #0e121d;
	border-radius: 100%;
	background-color: #0e121d;
	padding: 10px;
	margin-top: 20px;
}
.contact1 svg:hover {
	border: 1px solid white;
	box-shadow: 0 0 10px 0 white;
}
.contact1 a {
	text-decoration: none;
	color: #fff;
}
.contact1 a:hover {
	text-decoration: underline;
}
.location img {
	width: 50px;
	display: block;
	margin: auto;
	margin-bottom: 20px;
	border: 1px solid #fff;
	background-color: #fff;
	padding: 5px;
	border-radius: 100%;
}
.location p {
	margin-bottom: -5px;
}

/* MEDIA BREAKPOINTS */
@media (min-width: 1400px) {
}
@media (min-width: 1200px) and (max-width: 1399px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 991px) {
	.about img {
		margin-top: -180px;
	}
	.col-md-7 h3 {
		font-size: 25px;
	}
	.col-md-7 p {
		font-size: 18px;
		padding: 15px;
		padding-top: 0;
	}
	.col-md-5 img {
		width: 300px;
		margin-top: 150px;
	}
	img.secondAboutImg {
		margin-top: 0px;
	}
	.secondDiv p {
		margin-top: -30px;
	}
	.services h3 {
		margin-top: 20px;
	}
	.toTop svg {
		right: 10px;
	}

	/* contact us */
	#contactImgDiv img {
		margin-top: -150px;
	}
	/* end of contact us */
}
@media (min-width: 576px) and (max-width: 767px) {
	.about img {
		margin-top: -120px;
	}
	.col-md-7 h3 {
		text-align: center;
		font-size: 25px;
	}
	.col-md-7 p {
		margin-top: -10px;
		font-size: 18px;
		padding: 10px;
		padding-top: 0;
	}
	.col-md-5 img {
		width: 300px;
		display: block;
		margin: 0px auto;
	}
	img.secondAboutImg {
		margin-top: 0px;
	}
	.secondDiv h3 {
		margin-top: 40px;
	}
	.secondDiv p {
		margin-top: -30px;
	}
	.services h3 {
		margin-top: 30px;
	}
	.toTop svg {
		right: 10px;
	}
	/* contact us */
	#contactImgDiv img {
		margin-top: -80px;
	}
	/* end of contact us */
}
@media (max-width: 575px) {
	.about img {
		margin-top: -50px;
	}
	.about h2 {
		font-size: 35px;
		text-shadow: 0 0px 10px #000;
	}
	.col-md-7 h3 {
		text-align: center;
		font-size: 20px;
	}
	.col-md-7 p {
		margin-top: -20px;
		font-size: 16px;
		padding: 5px;
		padding-top: 0;
	}
	.col-md-5 img {
		width: 100%;
		display: block;
		margin: 0px auto;
	}
	img.secondAboutImg {
		margin-top: 0px;
	}
	.secondDiv h3 {
		margin-top: 40px;
	}
	.secondDiv p {
		margin-top: -30px;
	}
	.services h3 {
		font-size: 20px;
		margin-top: 0px;
	}
	.services p {
		font-size: 14px;
		padding: 10px;
	}
	.toTop svg {
		right: 20px;
	}
	/* contact us */
	#contactImgDiv img {
		margin-top: 0px;
	}
	.contact1 {
		width: 100%;
		padding: 0;
	}
	/* end of contact us */
}
